body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    color: #333;
}

.header p {
    color: #555;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #333;
    object-fit: cover;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: left;
}

h3 {
    color: #555;
    margin-bottom: 5px;
    text-align: left;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #555;
    text-align: left;
}

ul ul {
    list-style-type: circle;
}

section {
    margin-bottom: 20px;
    text-align: left;
}

strong {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}
